/ASP.NET MVC/Vidly/.vs
/ASP.NET MVC/Vidly/Vidly/Vidly.csproj.user
/ASP.NET MVC/Vidly/Vidly/obj
/ASP.NET MVC/Vidly/Vidly/bin
/ASP.NET MVC/Vidly/Vidly/App_Data
/ASP.NET MVC/Vidly/packages
/ASP.NET MVC/Vidly/Vidly/AppSettings.config
