@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers list</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer name</th>
        <th>Membership type</th>
        <th>Price</th>
        <th>Discount rate</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@Html.ActionLink("Add new customer", "New", "Customers", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Add random customer", "NewRandom", "Customers", null, new { @class = "btn btn-primary" })
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "api/customers",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name" //membershiptype name
                    },
                    {
                        data: "membershipType.signUpFee", //price
                        render: function (data) {
                            if (data === 0)
                                return "<span class='bold'>Free</span>";
                            else
                                return "$ " + data;
                        }
                    },
                    {
                        data: "membershipType.discountRate", //discount rate
                        render: function (data) {
                            return data + " %";
                        }
                    },
                    {
                        data: "id", //delete button
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    },
                ],
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}